/logs/application.log
/target/
/project/target/config-classes/$4f67f80768d6692eed13$.class
/project/target/config-classes/$4f67f80768d6692eed13.cache
/project/target/config-classes/$4f67f80768d6692eed13.class
/project/target/config-classes/$21e3b1b836488e36fe63$.class
/project/target/config-classes/$21e3b1b836488e36fe63.cache
/project/target/config-classes/$21e3b1b836488e36fe63.class
/project/target/config-classes/$33f659c563abb96973aa$.class
/project/target/config-classes/$33f659c563abb96973aa.cache
/project/target/config-classes/$33f659c563abb96973aa.class
/project/target/config-classes/$a6a91650c38827b83068$.class
/project/target/config-classes/$a6a91650c38827b83068.cache
/project/target/config-classes/$a6a91650c38827b83068.class
/project/target/config-classes/$b4e30407a6bc30b2bf35$.class
/project/target/config-classes/$b4e30407a6bc30b2bf35.cache
/project/target/config-classes/$b4e30407a6bc30b2bf35.class
/project/target/config-classes/$ef31afa5d7595565b320$.class
/project/target/config-classes/$ef31afa5d7595565b320.cache
/project/target/config-classes/$ef31afa5d7595565b320.class
/project/target/config-classes/$f8af0fce77552360eb64$.class
/project/target/config-classes/$f8af0fce77552360eb64.cache
/project/target/config-classes/$f8af0fce77552360eb64.class
/project/target/.sbt-compilation-infos/root-compile/compilation-info-0db26bd1-07b0-4108-916a-18601850604a
/project/target/.sbt-compilation-infos/root-compile/compilation-info-3ab5d716-767c-405d-b33e-8b9672b435af
/project/target/.sbt-compilation-infos/root-compile/compilation-info-813e885d-5076-4791-9610-1db678989f84
/project/target/.sbt-compilation-infos/root-compile/compilation-info-c8f54085-9ef2-4553-82fb-9a6c48a2099f
/project/target/.sbt-compilation-infos/root-compile/compilation-info-f736fc34-1288-496e-ae45-ed0b6cebf8e4
/.idea/compiler.xml
/.idea/modules/cosmeticsOMS.iml
/.idea/modules/cosmeticsOMS-build.iml
/.bsp/sbt.json
/.idea/libraries/sbt__antlr_antlr_2_7_7_jar.xml
/.idea/libraries/sbt__aopalliance_aopalliance_1_0_jar.xml
/.idea/libraries/sbt__ch_qos_logback_logback_classic_1_2_3_jar.xml
/.idea/libraries/sbt__ch_qos_logback_logback_core_1_2_3_jar.xml
/.idea/libraries/sbt__com_fasterxml_classmate_1_5_1_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_paranamer_2_11_4_jar.xml
/.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_scala_2_13_2_11_4_jar.xml
/.idea/libraries/sbt__com_google_code_findbugs_jsr305_3_0_2_jar.xml
/.idea/libraries/sbt__com_google_errorprone_error_prone_annotations_2_3_4_jar.xml
/.idea/libraries/sbt__com_google_guava_failureaccess_1_0_1_jar.xml
/.idea/libraries/sbt__com_google_guava_guava_28_2_jre_jar.xml
/.idea/libraries/sbt__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava_jar.xml
/.idea/libraries/sbt__com_google_inject_extensions_guice_assistedinject_4_2_3_jar.xml
/.idea/libraries/sbt__com_google_inject_guice_4_2_3_jar.xml
/.idea/libraries/sbt__com_google_j2objc_j2objc_annotations_1_3_jar.xml
/.idea/libraries/sbt__com_googlecode_usc_jdbcdslog_1_0_6_2_jar.xml
/.idea/libraries/sbt__com_novocode_junit_interface_0_11_jar.xml
/.idea/libraries/sbt__com_squareup_okhttp3_okhttp_3_11_0_jar.xml
/.idea/libraries/sbt__com_squareup_okio_okio_1_14_0_jar.xml
/.idea/libraries/sbt__com_sun_istack_istack_commons_runtime_3_0_7_jar.xml
/.idea/libraries/sbt__com_sun_xml_fastinfoset_FastInfoset_1_2_15_jar.xml
/.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_13_2_6_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_actor_typed_2_13_2_6_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_http_core_2_13_10_1_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_parsing_2_13_10_1_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_protobuf_v3_2_13_2_6_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_serialization_jackson_2_13_2_6_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_slf4j_2_13_2_6_14_jar.xml
/.idea/libraries/sbt__com_typesafe_akka_akka_stream_2_13_2_6_14_jar.xml
/.idea/libraries/sbt__com_typesafe_config_1_4_0_jar.xml
/.idea/libraries/sbt__com_typesafe_play_build_link_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_filters_helpers_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_akka_http_server_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_exceptions_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_functional_2_13_2_8_1_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_guice_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_java_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_java_forms_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_java_jdbc_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_java_jpa_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_jdbc_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_jdbc_api_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_json_2_13_2_8_1_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_logback_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_server_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_streams_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_play_test_2_13_2_8_8_jar.xml
/.idea/libraries/sbt__com_typesafe_play_twirl_api_2_13_1_5_1_jar.xml
/.idea/libraries/sbt__com_typesafe_ssl_config_core_2_13_0_4_2_jar.xml
/.idea/libraries/sbt__com_zaxxer_HikariCP_3_4_5_jar.xml
/.idea/libraries/sbt__commons_codec_commons_codec_1_11_jar.xml
/.idea/libraries/sbt__commons_io_commons_io_2_6_jar.xml
/.idea/libraries/sbt__commons_logging_commons_logging_1_2_jar.xml
/.idea/libraries/sbt__commons_net_commons_net_3_6_jar.xml
/.idea/libraries/sbt__io_jsonwebtoken_jjwt_0_9_1_jar.xml
/.idea/libraries/sbt__jakarta_activation_jakarta_activation_api_1_2_2_jar.xml
/.idea/libraries/sbt__jakarta_transaction_jakarta_transaction_api_1_3_3_jar.xml
/.idea/libraries/sbt__jakarta_validation_jakarta_validation_api_2_0_2_jar.xml
/.idea/libraries/sbt__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3_jar.xml
/.idea/libraries/sbt__javax_activation_javax_activation_api_1_2_0_jar.xml
/.idea/libraries/sbt__javax_inject_javax_inject_1_jar.xml
/.idea/libraries/sbt__javax_persistence_javax_persistence_api_2_2_jar.xml
/.idea/libraries/sbt__javax_xml_bind_jaxb_api_2_3_1_jar.xml
/.idea/libraries/sbt__joda_time_joda_time_2_10_5_jar.xml
/.idea/libraries/sbt__junit_junit_4_13_2_jar.xml
/.idea/libraries/sbt__net_bytebuddy_byte_buddy_1_10_21_jar.xml
/.idea/libraries/sbt__net_jodah_typetools_0_5_0_jar.xml
/.idea/libraries/sbt__net_sourceforge_htmlunit_htmlunit_2_36_0_jar.xml
/.idea/libraries/sbt__net_sourceforge_htmlunit_htmlunit_core_js_2_36_0_jar.xml
/.idea/libraries/sbt__net_sourceforge_htmlunit_htmlunit_cssparser_1_5_0_jar.xml
/.idea/libraries/sbt__net_sourceforge_htmlunit_neko_htmlunit_2_36_0_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_exec_1_3_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_lang3_3_9_jar.xml
/.idea/libraries/sbt__org_apache_commons_commons_text_1_7_jar.xml
/.idea/libraries/sbt__org_apache_httpcomponents_httpclient_4_5_9_jar.xml
/.idea/libraries/sbt__org_apache_httpcomponents_httpcore_4_4_11_jar.xml
/.idea/libraries/sbt__org_apache_httpcomponents_httpmime_4_5_9_jar.xml
/.idea/libraries/sbt__org_atteo_classindex_classindex_3_4_jar.xml
/.idea/libraries/sbt__org_brotli_dec_0_1_2_jar.xml
/.idea/libraries/sbt__org_checkerframework_checker_qual_2_10_0_jar.xml
/.idea/libraries/sbt__org_dom4j_dom4j_2_1_3_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_jetty_client_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_jetty_http_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_jetty_io_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_jetty_util_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_jetty_xml_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_websocket_websocket_api_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_websocket_websocket_client_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_eclipse_jetty_websocket_websocket_common_9_4_20_v20190813_jar.xml
/.idea/libraries/sbt__org_fluentlenium_fluentlenium_core_3_7_1_jar.xml
/.idea/libraries/sbt__org_glassfish_jaxb_jaxb_runtime_2_3_1_jar.xml
/.idea/libraries/sbt__org_glassfish_jaxb_txw2_2_3_1_jar.xml
/.idea/libraries/sbt__org_hamcrest_hamcrest_core_1_3_jar.xml
/.idea/libraries/sbt__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final_jar.xml
/.idea/libraries/sbt__org_hibernate_hibernate_core_5_4_30_Final_jar.xml
/.idea/libraries/sbt__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_2_Final_jar.xml
/.idea/libraries/sbt__org_hibernate_validator_hibernate_validator_6_1_7_Final_jar.xml
/.idea/libraries/sbt__org_javassist_javassist_3_27_0_GA_jar.xml
/.idea/libraries/sbt__org_jboss_jandex_2_2_3_Final_jar.xml
/.idea/libraries/sbt__org_jboss_logging_jboss_logging_3_4_1_Final_jar.xml
/.idea/libraries/sbt__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final_jar.xml
/.idea/libraries/sbt__org_jvnet_staxex_stax_ex_1_8_jar.xml
/.idea/libraries/sbt__org_lz4_lz4_java_1_7_1_jar.xml
/.idea/libraries/sbt__org_projectlombok_lombok_1_18_22_jar.xml
/.idea/libraries/sbt__org_reactivestreams_reactive_streams_1_0_3_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_13_0_9_1_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_13_1_1_2_jar.xml
/.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_13_1_2_0_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_6_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_6_jar.xml
/.idea/libraries/sbt__org_scala_sbt_test_interface_1_0_jar.xml
/.idea/libraries/sbt__org_seleniumhq_selenium_htmlunit_driver_2_36_0_jar.xml
/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_api_3_141_59_jar.xml
/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59_jar.xml
/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_remote_driver_3_141_59_jar.xml
/.idea/libraries/sbt__org_seleniumhq_selenium_selenium_support_3_141_59_jar.xml
/.idea/libraries/sbt__org_slf4j_jcl_over_slf4j_1_7_30_jar.xml
/.idea/libraries/sbt__org_slf4j_jul_to_slf4j_1_7_30_jar.xml
/.idea/libraries/sbt__org_slf4j_slf4j_api_1_7_30_jar.xml
/.idea/libraries/sbt__org_springframework_spring_beans_5_2_13_RELEASE_jar.xml
/.idea/libraries/sbt__org_springframework_spring_context_5_2_13_RELEASE_jar.xml
/.idea/libraries/sbt__org_springframework_spring_core_5_2_13_RELEASE_jar.xml
/.idea/libraries/sbt__tyrex_tyrex_1_0_1_jar.xml
/.idea/libraries/sbt__xalan_serializer_2_7_2_jar.xml
/.idea/libraries/sbt__xalan_xalan_2_7_2_jar.xml
/.idea/libraries/sbt__xerces_xercesImpl_2_12_0_jar.xml
/.idea/libraries/sbt__xml_apis_xml_apis_1_4_01_jar.xml
/project/project/project/target/config-classes/
/project/project/target/
/project/target/config-classes/$1af5ab2a9bd1b7041c6b$.class
/project/target/config-classes/$1af5ab2a9bd1b7041c6b.cache
/project/target/config-classes/$1af5ab2a9bd1b7041c6b.class
/project/target/config-classes/$17c27acf371ed03df860$.class
/project/target/config-classes/$17c27acf371ed03df860.cache
/project/target/config-classes/$17c27acf371ed03df860.class
/project/target/config-classes/$18d38e32da73067e1972$.class
/project/target/config-classes/$18d38e32da73067e1972.cache
/project/target/config-classes/$18d38e32da73067e1972.class
/project/target/config-classes/$22f17dd82012fef11781$.class
/project/target/config-classes/$22f17dd82012fef11781.cache
/project/target/config-classes/$22f17dd82012fef11781.class
/project/target/config-classes/$106ced23c93bba305ad0$.class
/project/target/config-classes/$106ced23c93bba305ad0.cache
/project/target/config-classes/$106ced23c93bba305ad0.class
/project/target/config-classes/$d38676559bacbe1eb16b$.class
/project/target/config-classes/$d38676559bacbe1eb16b.cache
/project/target/config-classes/$d38676559bacbe1eb16b.class
/project/target/config-classes/$dc38a6916ed73d5af9d3$.class
/project/target/config-classes/$dc38a6916ed73d5af9d3.cache
/project/target/config-classes/$dc38a6916ed73d5af9d3.class
/project/target/config-classes/$0cf58cd33a83558a5370$.class
/project/target/config-classes/$0cf58cd33a83558a5370.cache
/project/target/config-classes/$0cf58cd33a83558a5370.class
/project/target/.sbt-compilation-infos/root-compile/.sbt-idea-lock
/project/target/streams/compile/copyResources/_global/streams/copy-resources
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/project/target/streams/compile/_global/_global/compileOutputs/previous
/.idea/libraries/sbt__org_mariadb_jdbc_mariadb_java_client_3_0_2_rc_jar.xml
